<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GreenTube</a>
            <!--<button (click)="changeLanguage('en')">EN</button>-->
            <!--<button (click)="changeLanguage('de')">DE</button>-->
        </div>
    </div>
</nav>

<div class="container">
    <div style="margin-top: 70px" class="jumbotron col-sm-8 col-sm-offset-2">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div>

<div class="footer navbar-default navbar-fixed-bottom text-center">
    <p>
        Copyright
    </p>
    <p>
        Footer
    </p>
</div>